matplotlib
numpy
pandas
scikit_learn==0.24.2
scipy
dash==1.21.0
requests==2.26.0
#airflow
#Cython==0.29.24
dash_core_components==1.17.1
dash_dangerously_set_inner_html==0.0.2
dash_html_components==1.1.4
dash_table==4.12.0
dateparser==1.0.0
Flask==2.0.1
nltk==3.6.2
plotly==5.1.0
#sim==0.0.0
spacy==3.1.0
